@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#__react-alert__ div div div {
  width: auto !important;
  max-width: 600px !important;
}

@keyframes rotation {
  from {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
